<div class="section_container mt-3 ">
    <div class="row">
        <div class="col-sm-12">
            <div class="flex_project d-md-flex justify-content-center align-items-center">
                <a class="card_project" [routerLink]="['/ggc-home/client-ledger-list']">
                    <img alt="loading-img" class="lazyload mr-2; rounded" src="../assets/GoldsandsGroup.png" data-src="../assets/diaryIcon.png" style="width: 50px;" />
                    <noscript> <img src="../assets/diaryIcon.png" /> </noscript>
                    <div class="card_discription_project" >
                        <div  class="card_subtitle_project">Client Ledger</div>
                    </div>
                </a>
                <a class="card_project" [routerLink]="['/ggc-home/installment-schedule-list']">
                    <img alt="loading-img" class="lazyload mr-2 rounded" src="../assets/GoldsandsGroup.png" data-src="../assets/Calender.png" style="width: 50px;" />
                    <noscript> <img src="../assets/Calender.png" /> </noscript>
                    <div class="card_discription_project">
                        <div class="card_subtitle_project">Installment Schedule</div>
                    </div>
                </a>
                <a class="card_project" [routerLink]="['/ggc-home/transaction-history-list']">
                    <img alt="loading-img" class="lazyload mr-2 rounded" src="../assets/GoldsandsGroup.png" data-src="../assets/history.png" style="width: 50px;" />
                    <noscript> <img src="../assets/history.png" /> </noscript>
                    <div class="card_discription_project">
                        <div class="card_subtitle_project">Transaction History</div>
                    </div>
                </a>
                <a class="card_project" [routerLink]="['/ggc-home/request-view-ledger-list']">
                    <img alt="loading-img" class="lazyload mr-2 rounded" src="../assets/GoldsandsGroup.png" data-src="../assets/viewIcon.png" style="width: 50px;" />
                    <noscript> <img src="../assets/viewIcon.png" /> </noscript>
                    <div class="card_discription_project">
                        <div class="card_subtitle_project">Request for View Ledger</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>


