<div class="wrapper">

    <!-- Page Content  -->
    <div id="content">
        <div id="schedule_container" class="schedule_container">
            <div class="shed_contain">
                <div class="welcome_note">
                    <a href="#" class="com_logo">
                        <img alt="loading-img" class="lazyload" src="assets/GoldsandsGroup.png"
                            data-src="../assets/logoGS.png" data-sizes="auto" />
                        <noscript> <img src="assets/logoGS.png" /> </noscript>
                    </a>
                    <div class="shin_in_text">CLIENT PORTAL</div>
                </div>
                <div class="welcome_note" id="divSuccess">
                    <a href="#" class="com_logo">
                        <img alt="loading-img" class="lazyload" src="assets/GoldsandsGroup.png"
                            data-src="../assets/success.png" data-sizes="auto" />
                        <noscript> <img src="assets/success.png" /> </noscript>
                    </a>
                    <div class="shin_in_text" style="font-size: larger;">Password Changed !</div>
                    <div class="shin_in_text" style="font-size: 10px;">Your password has been changed successfully.<br>
                        <span>
                            <a style="font-size: medium; color:var(--secondary-color);" type="button"[routerLink]="['/login']" id="signInAfrReset">Sign In</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>